@media screen and (max-width: 1600px) {
    .boxLab {
        display: none;
    }

    .pos {
        display: none;
    }

    header {
        height: 500px;
        background: rgb(48, 23, 69);
        background: linear-gradient(90deg, rgba(48, 23, 69, 1) 0%, rgba(108, 71, 148, 1) 55%, rgba(81, 51, 113, 1) 79%, rgba(40, 22, 62, 1) 100%);
        background-repeat: repeat;
    }

    .header--Info {
        margin: 250px 20px;
    }

    .footerLinksBot {
        width: auto;
        justify-content: center;
    }

    .FooterEtc {
        justify-content: space-evenly;
        max-width: 80%;
    }

    .FooterEtc i {
        margin-left: 20px;
    }
}


@media screen and (max-width: 1200px) {
    .footerBannerLinks {
        display: none;
        padding: 0 20px;
        margin: 40px 0 0;
    }

    .blockTips {
        margin-left: 20px;
    }

    .block--stock {
        display: flex;
        justify-content: space-evenly;
    }

    .block--stock_img img {
        width: 250px;
    }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 480px) {

    header {
        height: 200px;
    }

    .burgerBtn span {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
    }

    .reviewDecriptionOfItem {
        display: flex;
        flex-direction: column;
    }

    .tipsFrom_VetsBlock {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .VetsBlock {
        text-align: center;
        display: inline-block;
        margin: 25px;
        width: 300px;
    }

    .header--Info {
        display: none;
    }

    .block--stock {
        flex-direction: column;
        align-items: center;
    }

    .btnsHeader {
        display: none;
    }

    .VetsBlockSides {
        width: 100%;
    }
}