@media screen and (max-width: 1600px) {
    .boxLab {
        display: none;
    }

    .pos {
        display: none;
    }

    header {
        height: 500px;
        background: linear-gradient(90deg, rgba(48, 23, 69, 1) 0%, rgba(108, 71, 148, 1) 55%, rgba(81, 51, 113, 1) 79%, rgba(40, 22, 62, 1) 100%) repeat;
    }

    .header--Info {
        margin: 250px 20px;
    }

    .footerLinksBot {
        width: auto;
        justify-content: center;
    }

    .FooterEtc {
        display: flex;
        justify-content: space-around;
        max-width: 100%;
    }

    .subToNews button {
        margin: 20px 0;
    }

    .FooterEtc i {
        margin-left: 20px;
    }

    .boutPet img {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 1400px) {
    .header--Flex {
        flex-flow: column;
    }

    .logoHeader,
    .btnsHeader { margin: 0;}
    .headerBot {
        justify-content: space-between;
        position: absolute;
        top: 200px;
        padding: 0 10px;
        width: 97%;
    }

    .footerBannerLinks {display: none;}
}



@media screen and (max-width: 1200px) {
    .hamburger--spin.is-active .hamburger-inner::after{
        background-color: #ffffff;
    }
    .hamburger--spin.is-active .hamburger-inner::before{
        background-color: #ffffff;
    }
    .hamburger--spin.is-active .hamburger-inner{
        background-color: #ffffff;
    }
    .hamburger {
        display: block !important;
        position: absolute;
    }

    .stock_item2 img {
        width: 300px;
    }

    .stick_item2--text {
        width: 350px;
    }

    .hamburger-box {
        z-index: 10;
    }

    .burger-catalog {
        border: 1px solid white;
        border-radius:10px;
        padding: 10px 5px;
    }

    body.hidden_body {
       overflow: hidden;
    }

    .hamburgerBox {
        display: none;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        background: #6b4693;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        transition: 0.5s;
    }

    .hamburgerBox.active {
        display: flex;
    }

    .burger_Phone {
        position: absolute;
        top: 10px;
    }

    .burger_Main {
        display: flex;
        flex-flow: column;
        text-align: center;
    }

    .burger_Main a {
        margin: 10px 0;
    }

    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before{
        background: white;
    }

    .hamburger-inner .is-active,
    .hamburger-inner .is-active::after,
    .hamburger-inner .is-active::before{
        background: white;
    }

    .hamburger.is-active:hover {
        opacity: 1 !important;
        transition: 1s;
    }

    .logoHeader {
        margin: 20px 0;
        align-items: center;
        width: 100%;
    }

    .footerBannerLinks {
        display: none;
    }

    a.HeaderAskVet {
        display: none;
    }

    .footerLinksBot {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .blockVert {
        margin: 0 5px;
    }

    .blockTips {
        margin-left: 20px;
    }

    .footerLogo {
        margin-bottom: 20px;
    }

    .tipsFrom_VetsBlock {
        flex-wrap: nowrap;
        align-items: center;
    }

    .block--stock {
        display: flex;
        justify-content: space-evenly;
    }

    .btnsHeader {
        margin: 0 50px;
    }

    .btnsHeader a {
        margin-right: 5px;
    }

    .block--stock_img img {
        width: 250px;
    }

    .allTips {
        margin: 50px 0;
    }

    .flT {
        display: inline-flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .FooterEtc .vkButton {
        display: none;
    }

    header {
        height: 200px;
    }

    .btnsHeader {
        display: none;
    }

    .header--Info {
        display: none;
    }

    .btnsHeader {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    header {
        height: 200px;
    }

    .btnsHeader {
        display: none;
    }

    .header--Info {
        display: none;
    }

    .btnsHeader {
        display: none;
    }
    .tipsFrom_VetsBlock {
        flex-flow: column;
    }
}

@media screen and (max-width: 960px) {
    .VetsBlockSides {
        width: 50%;
    }

}

@media screen and (max-width: 900px) {
    .block--stock {
        align-items: center;
        flex-flow: column;
    }

    .footerLinksBot {
        flex-flow: column;
        align-items: center;
        text-align: center;
        margin: 40px 0;
    }

    .block--stock_img {width:250px;}

    .stock_item2 {
        max-width: 250px;
        width:100%;
        margin:10px;}

    .stock_item2 img {width:250px;}

    .stick_item2--text{width: 250px;}

    .footerLinksTop {
        text-align: center;
    }

    .FooterEtc {
        padding: 0 70px;
    }
    .subToNews {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }

    .subToNews {
        margin-top: 30px;
    }

    .footerPhone {
        width: auto;
        font-size:18px;
    }

    .blockVert {
        margin-top: 40px;
        max-width: 150px;
        width: 100%;
    }

    .footerLinksTop {
        flex-flow: column;
        align-items: center;
    }

    .tipsFrom_VetsBlock {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .burger_Main {
        font-size: 14px;
        margin-top: 24px;
    }

}

@media screen and (max-width: 640px) {


    .reviewDecriptionOfItem {
        display: flex;
        flex-direction: column;
    }

    .about-img {
        display: flex;
        justify-content: center;
    }

    .FooterEtc {
        max-width: 100%;
    }
    .subToNews button {
        margin:20px 0;
    }

    .subToNews input {
        width: 100%;
    }

    .subToNews {
        white-space: normal;
    }

    .boutPet img {
        width: 70%;
        height: 70%;
    }

    .tab-title {
        width: 140px;
    }

    .tab-title:hover {
        width: 140px;
    }

    .tipsFrom_VetsBlock {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        text-align: center;
        max-width: 600px;
    }

    .VetsBlock {
        text-align: center;
        display: inline-block;
        margin: 25px 0;
        width: 300px;
    }

    .block--stock {
        flex-direction: column;
        align-items: center;
    }

    .VetsBlockSides {
        width: 100%;
    }

    .stock_item2 {
        margin: 10px 0;
        max-width: 100%;
    }

    .stick_item2--text {
        width: 300px;
        padding: 0 10px;
    }

    .VetsBlock-center > img:nth-child(1) {
        width: 300px;
    }

    .stock_item2 > a:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
        width: 300px;
    }
}

@media screen and (max-width: 480px) {
    .reviewDecriptionOfItem {
        display: flex;
        flex-direction: column;
    }

    .tab-title{
    width: 110px;
    font-size: 12px;}

    .tab-title:hover{
        width: 110px;
        font-size: 12px;}

    .tab-title:hover{
        width: 110px;
        font-size: 12px;}

    .subToNews p {
        white-space: normal;
    }

    .VetsBlock {
        text-align: center;
        display: inline-block;
        margin: 25px;
        width: 300px;
    }

    .block--stock {
        flex-direction: column;
        align-items: center;
    }

    .VetsBlockSides {
        width: 100%;
    }

    .stock_item2 {
        margin: 50px 0;
    }
    .FooterGeneral {
        max-width: none;
    }

    .stick_item2--text {
        width: 300px;
        padding: 0 10px;
    }

    .VetsBlock-center > img:nth-child(1) {
        width: 300px;
    }

    .stock_item2 > a:nth-child(1) > div:nth-child(2) > img:nth-child(1) {
        width: 300px;
    }

    .FooterEtc {
        padding: 0;
        width: 100%;
    }
}